{{> header}}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>History</h2>
      <table class="history">
        <tr class="row">
          <th class="col-md-1">id</th>
          <th class="col-md-3">twitter</th> 
          <th class="col-md-2">complete</th>
          <th class="col-md-2">saved</th>
          <th class="col-md-4">tweeted</th>
        </tr>
        {{#history}}
          <tr class="row">
            <td class="col-md-1">{{id}}</td>
            <td class="col-md-3">{{twitter}}</td> 
            <td class="col-md-2 {{complete}}"> </td>
            <td class="col-md-2 {{saved}}"> </td>
            <td class="col-md-4 {{tweeted}}"> </td>
          </tr>
        {{/history}}
        <tr class="row">
          <td class="col-md-1">{{id}}</td>
          <td class="col-md-3">{{twitter}}</td> 
          <td class="col-md-2 {{complete}}"> </td>
          <td class="col-md-2 {{saved}}"> </td>
          <td class="col-md-4 {{tweeted}}"> </td>
        </tr>
        <tr class="row">
          <td class="col-md-1">{{id}}</td>
          <td class="col-md-3">{{twitter}}</td> 
          <td class="col-md-2 {{complete}}"> </td>
          <td class="col-md-2 {{saved}}"> </td>
          <td class="col-md-4 {{tweeted}}"> </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-default btn-lg btn-danger next-user">
        Next User
      </button>
      <button type="button" class="btn btn-default btn-lg btn-danger end-run">
        Complete Run
      </button>
      <hr>
      <h2>Set Current Vis</h2>
      <div class="btn-group" id="visualizer-list">
      </div>
      <h2>Add user</h2>
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control username" placeholder="Username">
      </div>
      <div class="input-group">
        Visualization:
        <select name="visualization" id="visualization"></select>
      </div>
      <h2>Queue</h2>
      <ul class="queue">
        {{#queue}}
          <li>{{username}} <a href="#" data-username="{{username}}">Remove</a></li></li>
        {{/queue}}
      </ul>
    </div>
  </div>
</div>
{{> footer}}
