{{> header}}
<script>
  var puckID = '{{id}}';
  var runStatsRaw = '{{run}}';
  var live = '{{live}}';
  var isLive = (live == 'true');
  var isPlayback = '{{playback}}' == 'true' ? true : false;
  var targetPoints = {{projectionTargetPoints}};
  var runStats = [];
  if (runStatsRaw) {
    var splits = runStatsRaw.split(',')
    for (var i = 0; i < splits.length; i += 2) {
      runStats.push([splits[i], splits[i+1]]);
    }
  }
  if (!puckID) {
    puckID = 'aaa';
  }
</script>
{{> footer}}
