{{> header}}
<script>
  var map = {{{pegMap}}};
</script>
<button type="button" class="btn btn-default btn-warning save-calib" style="z-index: 1000;
position: relative;">
  Save Calibration
</button> Selected Peg: <label id="selected-peg-index">n/a</label>
{{> footer}}
