{{> header}}
<script>
  var map = {{{map}}};
</script>
<button type="button" class="btn btn-default btn-danger start-calib" style="z-index: 1000;
position: relative;">
  Start Calibrating
</button>
<button type="button" class="btn btn-default btn-danger stop-calib" style="z-index: 1000;
position: relative; ">
  Stop Calibrating
</button>
{{> footer}}
