    <script src="/js/lib/jquery-1.11.0.min.js"></script>
    <script src="/js/lib/bootstrap-3.1.1.min.js"></script>
    <script src="/js/lib/modernizr.custom.js"></script>
    <script src="/js/lib/two.js"></script>
    <script src="/js/app/particles.js"></script>
    <script src="/js/app/app.js"></script>
  </body>
</html>