<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="plin.co is amazing">
        <meta name="keywords" content="plinko, art, visualization, dataviz, data visualization, stream, data stream">
        <meta name="author" content="Ben Purdy & John Brown">

        <title>plin.co</title>

        <meta property="og:site_name" content="plin.co">
        <meta property="og:title" content="plin.co">
        <meta property="og:url" content="http://plin.co">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://plin.co/img/600x600.png">
        <meta property="og:description" content="plin.co is amazing.">

        <link rel="shortcut icon" href="/img/favicon.ico">
        <link href="/css/site.css" rel="stylesheet" type="text/css"/>

        <style>
          body {
            background: rgb(153, 102, 255);
          }
        </style>
    </head>
    <body>