{{> header}}
<h1>plin.co</h1>
<p>Hone of plin.co, a modern, web-enabled Plinko. It's for the kids.</p>
<h2>Recent runs</h2>
<ul>
  {{#recent}}
    <li><a href="/{{.}}">{{.}}</a></li>
  {{/recent}}
</ul>
{{> footer}}
